[Unit]
Description=Minecraft Server Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/user/minecraft

ExecStart=/home/user/minecraft/run.sh

Restart=on-failure
RestartSec=5

TimeoutStopSec=120
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
